/* Download Modal Window */
#dedo-download-modal .media-modal-content .media-frame-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 45px;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
	z-index: 200;
}

.media-modal-content .left-panel {
	position: absolute;
	top: 45px;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.media-modal-content .right-panel {
	position: absolute;
	top: 45px;
	right: 0;
	bottom: 0;
	width: 267px;
	padding: 20px 16px;
	border-left: 1px solid #dfdfdf;
	background-color: whiteSmoke;
	overflow: auto;
}

.dedo-download-toolbar {
	position: absolute;
	top: 0;
	right: 300px;
	bottom: 0;
	left: 0;
	margin: 20px;
	overflow: auto;
}

.dedo-download-toolbar input[type="search"] {
	float: right;
	font-family: sans-serif;
	font-size: 12px;
	padding: 4px;
	line-height: 18px;	
}

.dedo-download-list {
	position: absolute;
	top: 50px;
	right: 300px;
	bottom: 0;
	left: 0;
	margin: 20px;
	overflow: auto;
}

.dedo-download-list td {
	padding-top: 12px;
	padding-bottom: 12px;
}

.dedo-download-list tr:nth-child(even) {
	background-color: #f9f9f9;
}

.dedo-download-list tr.ui-selectee {
	cursor: pointer;
}

.dedo-download-list tr.ui-selected {
	background-color: rgba(30, 140, 190, .2);
}

.admin-color-blue .dedo-download-list tr.ui-selected {
	background-color: rgba(219, 152, 37, .2);
}

.admin-color-coffee .dedo-download-list tr.ui-selected {
	background-color: rgba(199, 165, 137, .2);
}

.admin-color-ectoplasm .dedo-download-list tr.ui-selected {
	background-color: rgba(137, 153, 58, .2);
}

.admin-color-midnight .dedo-download-list tr.ui-selected {
	background-color: rgba(217, 44, 35, .2);
}

.admin-color-ocean .dedo-download-list tr.ui-selected {
	background-color: rgba(158, 186, 160, .2);
}

.admin-color-sunrise .dedo-download-list tr.ui-selected {
	background-color: rgba(221, 130, 59, .2);
}

.right-panel .download-details h3 {
	margin: 0 0 8px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	color: #777;
	text-shadow: 0 1px 0 white;	
}

.right-panel .download-details .meta {
	margin-bottom: 16px;
	padding-bottom: 11px;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 1px 0 #fff;
	color: #464646;
}

.right-panel .download-details .meta div {
	color: #999;
	line-height: 18px;
}

.right-panel .download-details .meta strong {
	color: #000;
}

.right-panel .download-details label {
	display: block;
	margin: 10px 0 5px;
	color: #999;
}

.right-panel .download-details input[type=text] {
	display: block;
	width: 100%;
	padding: 6px 8px;
}

.right-panel .download-details select {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.right-panel .download-details #dedo-download-button {
	margin-top: 30px;
}

.right-panel .download-details .button, .right-panel .download-details .button-primary {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	margin-top: 10px;
	padding: 10px 0;
	font-size: 16px;
	text-align: center;
}

/* All downloads screen */
.post-type-dedo_download {

	// Hide excerpt views
	.view-switch {
		display: none;
	}

	// Hide post visibility on quick edit
	.inline-edit-group {
		display: none;
	}
}

/* All logs screen */
.post-type-dedo_log {

	// Hide excerpt views
	.view-switch {
		display: none;
	}
}

/* Taxonomy pages */
.taxonomy-ddownload_category .row-actions .view, .taxonomy-ddownload_tag .row-actions .view {
	display: none;
}

/* Add Download Page */
.post-type-dedo_download {
	
	#titlediv {
		margin-bottom: 20px;
	}

	.misc-pub-visibility {
		display: none;
	}

	.file-container {
		overflow: hidden;
	}

	.file-url-container {
		position: relative;
		width: 85%;
		float: left;
		padding-right: 10px;
		box-sizing: border-box;

		.remove {
			position: absolute;
			bottom: 4px;
			right: 10px;
			padding: 1px 5px;
			background-color: #fff;
		}
	}

	.file-size-container {
		width: 15%;
		float: left;
		padding-left: 10px;
		box-sizing: border-box;

		p {
			margin: 0;
			line-height: 30px;
		}
	}

	#dedo-file-url {
		width: 100%;
		box-sizing: border-box;
	}

	.remove {

		a {
			color: #a00;
			text-decoration: none;

			&:hover {
				color: #f00;
			}
		}
	}

	span.description {
		display: inline-block;
		height: 28px;
		line-height: 28px;
		color: #666;
	}

	#plupload-file {
		margin-top: 10px;

		input[type="button"] {
			margin-right: 10px;
		}
	}
}

/* Meta Box File Progress */
#plupload-progress {
	position: relative;
	margin-top: 10px;
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	border: 1px solid #ddd;
}

#plupload-progress .bar {
	height: 28px;
}

.admin-color-blue #plupload-progress .bar {
	background-color: rgba(219, 152, 37, .25);
}

.admin-color-coffee #plupload-progress .bar {
	background-color: rgba(199, 165, 137, .25);
}

.admin-color-ectoplasm #plupload-progress .bar {
	background-color: rgba(137, 153, 58, .25);
}

.admin-color-midnight #plupload-progress .bar {
	background-color: rgba(217, 44, 35, .25);
}

.admin-color-ocean #plupload-progress .bar {
	background-color: rgba(158, 186, 160, .25);
}

.admin-color-sunrise #plupload-progress .bar {
	background-color: rgba(221, 130, 59, .25);
}

#plupload-progress .percent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	text-align: center;

	p {
		line-height: 30px;
		color: #666;
	}
}

#plupload-progress .percent p {
	margin: 0;
}

/* Meta Box File Success */
#plupload-container .success {
	color: green;
}

#plupload-container .error {
	color: red;
}

#dedo-file-browser {
	position: relative;
	margin: 10px 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #dfdfdf;
}

#dedo-file-browser-close {
	display: inline-block;
	color: #f00;
}

/* Menu Icon */
#menu-posts-dedo_download .wp-menu-image:before {
	content: "\f316" !important;
}

/* Media Button */
#dedo-media-button span.wp-media-buttons-icon:before {
	content: "\f316" !important;
	font: normal 18px/1 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Dashboard */
#ddownload-count {
	margin: -11px 0 0;

	ul {
		margin: 0;
		overflow: hidden;

		li {
			display: block;
			margin: 0;
			padding: 20px 0;
			width: 50%;
			float: left;
			box-sizing: border-box;
			text-align: center;
			

			.count {
				display: block;
				font-size: 32px;
				font-weight: lighter;
				line-height: 1.5;
				color: #2ea2cc;
			}

			.label {
				display: block;
				color: #ccc;
				font-size: 12px;
				text-transform: uppercase;
			}
		}

		li:nth-of-type(odd) {
			border-right: 1px dotted #eee;
		}

		li:nth-of-type(-n+2) {
			padding-top: 40px;
		}

		li:nth-of-type(n+3) {
			padding-bottom: 40px;
		}
	}
}

.admin-color-light #ddownload-count .count {
	color: #04a4cc;
}

.admin-color-blue #ddownload-count .count {
	color: #52accc;
}

.admin-color-coffee #ddownload-count .count {
	color: #c7a589;
}

.admin-color-ectoplasm #ddownload-count .count {
	color: #a3b745;
}

.admin-color-midnight #ddownload-count .count {
	color: #e14d43;
}

.admin-color-ocean #ddownload-count .count {
	color: #9ebaa0;
}

.admin-color-sunrise #ddownload-count .count {
	color: #dd823b;
}

#ddownload-popular {
	margin: 0;

	h4 {
		position: relative;
		margin: 0 -12px;
		padding: 8px 12px;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	ol {
		margin: 0 -12px;
		list-style-position: inside;

		li {
			margin: 0;
			color: #777;

			a {
				display: block;
				padding: 8px 12px;
			}

			.count, .percentage {
				float: right;
			}

			&:hover {
				background: darken(#fff, 5%);
			}
		}

		li:nth-child(odd) {
			background: #fafafa;

			&:hover {
				background: darken(#fafafa, 1%);
			}
		}
	}

	.sub{
		margin: 0 -12px;
		padding: 11px 12px 0;
		border-top: 1px solid #eee;
		overflow: hidden;

		#popular-downloads-dropdown, .spinner {
			float: right;
		}

		.error {
			margin: 0;
			line-height: 28px;
			color: #dd3d36;
		}
	}
}

/* Settings page */
.dedo_download_page_dedo_settings #dedo-settings-main {
	float: left;
	width: 75%;
	padding-right: 20px;
	box-sizing: border-box;
}

.dedo_download_page_dedo_settings #dedo-settings-sidebar {
	float: left;
	width: 25%;
	border-left: 1px solid #ccc;
	padding-left: 20px;
	box-sizing: border-box;
}

.dedo_download_page_dedo_settings .description {
	max-width: 500px;
}

.dedo-settings-textarea {
	width: 100%;
	max-width: 400px;
	height: 200px;
}

/* Support Page */
#dedo_support {
	width: 100%;
	height: 500px;
	resize: vertical;
}