/* Download Modal Window */
#dedo-download-modal .media-modal-content .media-frame-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
  z-index: 200;
}
.media-modal-content .left-panel {
  position: absolute;
  top: 45px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.media-modal-content .right-panel {
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 0;
  width: 267px;
  padding: 20px 16px;
  border-left: 1px solid #dfdfdf;
  background-color: whiteSmoke;
  overflow: auto;
}
.dedo-download-toolbar {
  position: absolute;
  top: 0;
  right: 300px;
  bottom: 0;
  left: 0;
  margin: 20px;
  overflow: auto;
}
.dedo-download-toolbar input[type="search"] {
  float: right;
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px;
  line-height: 18px;
}
.dedo-download-list {
  position: absolute;
  top: 50px;
  right: 300px;
  bottom: 0;
  left: 0;
  margin: 20px;
  overflow: auto;
}
.dedo-download-list td {
  padding-top: 12px;
  padding-bottom: 12px;
}
.dedo-download-list tr:nth-child(even) {
  background-color: #f9f9f9;
}
.dedo-download-list tr.ui-selectee {
  cursor: pointer;
}
.dedo-download-list tr.ui-selected {
  background-color: rgba(30, 140, 190, 0.2);
}
.admin-color-blue .dedo-download-list tr.ui-selected {
  background-color: rgba(219, 152, 37, 0.2);
}
.admin-color-coffee .dedo-download-list tr.ui-selected {
  background-color: rgba(199, 165, 137, 0.2);
}
.admin-color-ectoplasm .dedo-download-list tr.ui-selected {
  background-color: rgba(137, 153, 58, 0.2);
}
.admin-color-midnight .dedo-download-list tr.ui-selected {
  background-color: rgba(217, 44, 35, 0.2);
}
.admin-color-ocean .dedo-download-list tr.ui-selected {
  background-color: rgba(158, 186, 160, 0.2);
}
.admin-color-sunrise .dedo-download-list tr.ui-selected {
  background-color: rgba(221, 130, 59, 0.2);
}
.right-panel .download-details h3 {
  margin: 0 0 8px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #777;
  text-shadow: 0 1px 0 white;
}
.right-panel .download-details .meta {
  margin-bottom: 16px;
  padding-bottom: 11px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 0 #fff;
  color: #464646;
}
.right-panel .download-details .meta div {
  color: #999;
  line-height: 18px;
}
.right-panel .download-details .meta strong {
  color: #000;
}
.right-panel .download-details label {
  display: block;
  margin: 10px 0 5px;
  color: #999;
}
.right-panel .download-details input[type=text] {
  display: block;
  width: 100%;
  padding: 6px 8px;
}
.right-panel .download-details select {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.right-panel .download-details #dedo-download-button {
  margin-top: 30px;
}
.right-panel .download-details .button,
.right-panel .download-details .button-primary {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
}
/* All downloads screen */
.post-type-dedo_download .view-switch {
  display: none;
}
.post-type-dedo_download .inline-edit-group {
  display: none;
}
/* All logs screen */
.post-type-dedo_log .view-switch {
  display: none;
}
/* Taxonomy pages */
.taxonomy-ddownload_category .row-actions .view,
.taxonomy-ddownload_tag .row-actions .view {
  display: none;
}
/* Add Download Page */
.post-type-dedo_download #titlediv {
  margin-bottom: 20px;
}
.post-type-dedo_download .misc-pub-visibility {
  display: none;
}
.post-type-dedo_download .file-container {
  overflow: hidden;
}
.post-type-dedo_download .file-url-container {
  position: relative;
  width: 85%;
  float: left;
  padding-right: 10px;
  box-sizing: border-box;
}
.post-type-dedo_download .file-url-container .remove {
  position: absolute;
  bottom: 4px;
  right: 10px;
  padding: 1px 5px;
  background-color: #fff;
}
.post-type-dedo_download .file-size-container {
  width: 15%;
  float: left;
  padding-left: 10px;
  box-sizing: border-box;
}
.post-type-dedo_download .file-size-container p {
  margin: 0;
  line-height: 30px;
}
.post-type-dedo_download #dedo-file-url {
  width: 100%;
  box-sizing: border-box;
}
.post-type-dedo_download .remove a {
  color: #a00;
  text-decoration: none;
}
.post-type-dedo_download .remove a:hover {
  color: #f00;
}
.post-type-dedo_download span.description {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  color: #666;
}
.post-type-dedo_download #plupload-file {
  margin-top: 10px;
}
.post-type-dedo_download #plupload-file input[type="button"] {
  margin-right: 10px;
}
/* Meta Box File Progress */
#plupload-progress {
  position: relative;
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
}
#plupload-progress .bar {
  height: 28px;
}
.admin-color-blue #plupload-progress .bar {
  background-color: rgba(219, 152, 37, 0.25);
}
.admin-color-coffee #plupload-progress .bar {
  background-color: rgba(199, 165, 137, 0.25);
}
.admin-color-ectoplasm #plupload-progress .bar {
  background-color: rgba(137, 153, 58, 0.25);
}
.admin-color-midnight #plupload-progress .bar {
  background-color: rgba(217, 44, 35, 0.25);
}
.admin-color-ocean #plupload-progress .bar {
  background-color: rgba(158, 186, 160, 0.25);
}
.admin-color-sunrise #plupload-progress .bar {
  background-color: rgba(221, 130, 59, 0.25);
}
#plupload-progress .percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  text-align: center;
}
#plupload-progress .percent p {
  line-height: 30px;
  color: #666;
}
#plupload-progress .percent p {
  margin: 0;
}
/* Meta Box File Success */
#plupload-container .success {
  color: green;
}
#plupload-container .error {
  color: red;
}
#dedo-file-browser {
  position: relative;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
}
#dedo-file-browser-close {
  display: inline-block;
  color: #f00;
}
/* Menu Icon */
#menu-posts-dedo_download .wp-menu-image:before {
  content: "\f316" !important;
}
/* Media Button */
#dedo-media-button span.wp-media-buttons-icon:before {
  content: "\f316" !important;
  font: normal 18px/1 'dashicons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Dashboard */
#ddownload-count {
  margin: -11px 0 0;
}
#ddownload-count ul {
  margin: 0;
  overflow: hidden;
}
#ddownload-count ul li {
  display: block;
  margin: 0;
  padding: 20px 0;
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}
#ddownload-count ul li strong {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}
#ddownload-count ul li span {
  display: block;
  margin-top: 6px;
  color: #777;
}
#ddownload-count ul li:nth-of-type(odd) {
  border-right: 1px solid #eee;
}
#ddownload-count ul li:nth-of-type(-n+2) {
  padding-top: 40px;
}
#ddownload-count ul li:nth-of-type(n+3) {
  padding-bottom: 40px;
}
#ddownload-popular {
  margin: 0;
}
#ddownload-popular h4 {
  position: relative;
  margin: 0 -12px;
  padding: 8px 12px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#ddownload-popular ol {
  margin: 0 -12px;
  list-style-position: inside;
}
#ddownload-popular ol li {
  margin: 0;
  color: #777;
}
#ddownload-popular ol li a {
  display: block;
  padding: 8px 12px;
}
#ddownload-popular ol li .count,
#ddownload-popular ol li .percentage {
  float: right;
}
#ddownload-popular ol li:hover {
  background: #f2f2f2;
}
#ddownload-popular ol li:nth-child(odd) {
  background: #fafafa;
}
#ddownload-popular ol li:nth-child(odd):hover {
  background: #f7f7f7;
}
#ddownload-popular .sub {
  margin: 0 -12px;
  padding: 11px 12px 0;
  border-top: 1px solid #eee;
  overflow: hidden;
}
#ddownload-popular .sub #popular-downloads-dropdown,
#ddownload-popular .sub .spinner {
  float: right;
}
#ddownload-popular .sub .error {
  margin: 0;
  line-height: 28px;
  color: #dd3d36;
}
/* Settings page */
.dedo_download_page_dedo_settings .description {
  max-width: 600px;
}
.dedo-settings-textarea {
  width: 100%;
  max-width: 400px;
  height: 200px;
}
/* Support Page */
#dedo_support {
  width: 100%;
  height: 500px;
}
