.ddownloads_list {
table-layout:fixed
}

.ddownload-button {
border-radius:3px;
box-shadow:inset 0 0 2px #fff;
display:inline-block;
font-size:12px;
padding:8px 12px;
text-decoration:none!important
}

.ddownload-button:active {
box-shadow:inset 0 0 3px #999
}

.button-grey {
background-color:#e1e1e1;
background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#e1e1e1),to(#ededed));
background-image:-webkit-linear-gradient(#ededed,#e1e1e1);
border:1px solid #d0d0d0;
color:#444!important;
text-shadow:1px 1px 1px #fff
}

.button-grey:hover {
background-color:#ededed;
background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#ededed),to(#e1e1e1));
background-image:-webkit-linear-gradient(#e1e1e1,#ededed);
border:1px solid #b0b0b0;
color:#444!important
}

.button-grey:active {
border:1px solid #666;
color:#444!important
}

.button-red {
background-color:#f6677b;
background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#f6677b),to(#f997b0));
background-image:-webkit-linear-gradient(#f997b0,#f6677b);
border:1px solid #d96d7c;
color:#923c47!important;
text-shadow:1px 1px 1px #fdbcc7
}

.button-red:hover {
background-color:#f997b0;
background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#f997b0),to(#f6677b));
background-image:-webkit-linear-gradient(#f6677b,#f997b0);
border:1px solid #c75964;
color:#923c47!important
}

.button-red:active {
border:1px solid #ab3e4b;
color:#923c47!important
}

.button-blue {
background-color:#73d0f1;
background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#73d0f1),to(#aae5f7));
background-image:-webkit-linear-gradient(#aae5f7,#73d0f1);
border:1px solid #6fb1c7;
color:#41788c!important;
text-shadow:1px 1px 1px #bfeafb
}

.button-blue:hover {
background-color:#aae5f7;
background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#aae5f7),to(#73d0f1));
background-image:-webkit-linear-gradient(#73d0f1,#aae5f7);
border:1px solid #4690ad;
color:#41788c!important
}

.button-blue:active {
border:1px solid #3b778b;
color:#41788c!important
}

.button-green {
background-color:#a5cb5e;
background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#a5cb5e),to(#cae387));
background-image:-webkit-linear-gradient(#cae387,#a5cb5e);
border:1px solid #95b959;
color:#5a742d!important;
text-shadow:1px 1px 1px #dff4bc
}

.button-green:hover {
background-color:#cae387;
background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#cae387),to(#a5cb5e));
background-image:-webkit-linear-gradient(#a5cb5e,#cae387);
border:1px solid #687e30;
color:#5a742d!important
}

.button-green:active {
border:1px solid #506320;
color:#5a742d!important
}

.button-black {
background-color:#454545;
background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#454545),to(#656565));
background-image:-webkit-linear-gradient(#656565,#454545);
border:1px solid #4d4d4d;
color:#fff!important;
text-shadow:1px 1px 1px #6d6d6d
}

.button-black:hover {
background-color:#656565;
background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#656565),to(#454545));
background-image:-webkit-linear-gradient(#454545,#656565);
border:1px solid #363636;
color:#fff!important
}

.button-black:active {
border:1px solid #000;
color:#fff!important
}

.dedo-form-error-message {
color:#a00
}

img.img-zoom {
transform-origin:top right;
transition:transform .1s
}

img.img-zoom:hover {
box-shadow:0 0 19px 0 rgba(50,50,50,0.95);
cursor:zoom-in;
transform:scale(2.0,2.0)
}