/* Shortcode Modal Window */
/* All Downloads
--------------------------------------------- */
.post-type-dedo_download .view-switch {
  display: none;
}
.post-type-dedo_download .inline-edit-col-left,
.post-type-dedo_download .inline-edit-col-right {
  float: none !important;
  width: 50% !important;
  margin-top: 0 !important;
}
.post-type-dedo_download .inline-edit-col-left .inline-edit-col,
.post-type-dedo_download .inline-edit-col-right .inline-edit-col {
  border: none !important;
}
.post-type-dedo_download .inline-edit-save a.save {
  float: none !important;
  margin-left: 1em;
}
.post-type-dedo_download .inline-edit-group em,
.post-type-dedo_download .inline-edit-group .inline-edit-private {
  display: none;
}
.post-type-dedo_download .blank {
  color: #ccc;
  cursor: default;
}
.post-type-dedo_download th.column-downloads {
  padding-right: 20px;
}
.post-type-dedo_download th.column-downloads a {
  display: inline;
}
.post-type-dedo_download th.column-downloads a span {
  float: right;
}
.post-type-dedo_download th.column-downloads a span.sorting-indicator {
  margin-right: 5px;
}
.post-type-dedo_download .column-downloads {
  text-align: right;
  padding-right: 20px;
}
.post-type-dedo_download .column-members_only,
.post-type-dedo_download .column-open_browser {
  width: 30px;
  text-align: center;
}
.post-type-dedo_download .column-members_only .icon,
.post-type-dedo_download .column-open_browser .icon {
  display: inline-block;
  float: none;
  width: 1em;
  height: 1em;
  margin-top: -4px;
  vertical-align: middle;
  overflow: hidden;
}
.post-type-dedo_download .column-members_only .icon:before,
.post-type-dedo_download .column-open_browser .icon:before {
  content: '\f110';
  font: normal 1em 'dashicons';
  speak: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.post-type-dedo_download .column-open_browser .icon:before {
  content: '\f472';
}
.post-type-dedo_download td.column-members_only,
.post-type-dedo_download td.column-open_browser {
  color: #ccc;
}
.post-type-dedo_download .column-members_only .true,
.post-type-dedo_download .column-members_only .false,
.post-type-dedo_download .column-open_browser .true,
.post-type-dedo_download .column-open_browser .false {
  display: inline-block;
  float: none;
  color: #555;
}
.post-type-dedo_download .column-members_only .true:before,
.post-type-dedo_download .column-members_only .false:before,
.post-type-dedo_download .column-open_browser .true:before,
.post-type-dedo_download .column-open_browser .false:before {
  content: '\f147';
  font: normal 1.2em 'dashicons';
  speak: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.post-type-dedo_download .column-members_only .false:before,
.post-type-dedo_download .column-open_browser .false:before {
  content: '\f335';
}
/* Taxonomy pages */
.taxonomy-ddownload_category .row-actions .view,
.taxonomy-ddownload_tag .row-actions .view {
  display: none;
}
/* Menu Icon */
#menu-posts-dedo_download .wp-menu-image:before {
  content: "\f316" !important;
}
/* Media Button */
#dedo-media-button span.wp-media-buttons-icon:before {
  content: "\f316" !important;
  font: normal 18px/1 'dashicons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Dashboard
--------------------------------------------- */
#ddownload-count {
  margin: -11px 0 0;
}
#ddownload-count ul {
  margin: 0;
  overflow: hidden;
}
#ddownload-count ul li {
  display: block;
  margin: 0;
  padding: 20px 0;
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}
#ddownload-count ul li .count {
  display: block;
  font-size: 32px;
  font-weight: lighter;
  line-height: 1.5;
  color: #2ea2cc;
}
#ddownload-count ul li .label {
  display: block;
  color: #ccc;
  font-size: 12px;
  text-transform: uppercase;
}
#ddownload-count ul li:nth-of-type(odd) {
  border-right: 1px dotted #eee;
}
#ddownload-count ul li:nth-of-type(-n+2) {
  padding-top: 40px;
}
#ddownload-count ul li:nth-of-type(n+3) {
  padding-bottom: 40px;
}
#ddownload-popular {
  margin: 0;
}
#ddownload-popular h4 {
  position: relative;
  margin: 0 -12px;
  padding: 8px 12px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#ddownload-popular ol {
  margin: 0 -12px;
  list-style: none;
}
#ddownload-popular ol li {
  margin: 0;
  color: #777;
}
#ddownload-popular ol li a {
  display: block;
  padding: 8px 12px;
}
#ddownload-popular ol li .position {
  display: inline-block;
  margin-right: 1em;
  color: #777;
}
#ddownload-popular ol li .count,
#ddownload-popular ol li .percentage {
  float: right;
}
#ddownload-popular ol li:hover {
  background: #f2f2f2;
}
#ddownload-popular ol li:nth-child(odd) {
  background: #fafafa;
}
#ddownload-popular ol li:nth-child(odd):hover {
  background: #f7f7f7;
}
#ddownload-popular .sub {
  margin: 0 -12px;
  padding: 11px 12px 0;
  border-top: 1px solid #eee;
  overflow: hidden;
}
#ddownload-popular .sub #popular-downloads-dropdown,
#ddownload-popular .sub .spinner {
  float: right;
}
#ddownload-popular .sub .error {
  margin: 0;
  line-height: 28px;
  color: #dd3d36;
}
/* Settings Page
--------------------------------------------- */
.dedo_download_page_dedo_settings .nav-tab-wrapper {
  margin-bottom: 0;
}
.dedo_download_page_dedo_settings .nav-tab-wrapper .nav-tab {
  border-bottom: 1px solid #ccc;
  /* Fix tab jumping */
}
.dedo_download_page_dedo_settings .nav-tab-wrapper .nav-tab-active {
  border-bottom: 1px solid #f1f1f1;
}
.dedo_download_page_dedo_settings .dedo-sub-option {
  margin-top: 30px;
}
.dedo_download_page_dedo_settings label {
  margin-right: 12px;
}
.dedo_download_page_dedo_settings .description {
  max-width: 600px;
}
.dedo_download_page_dedo_settings #dedo-settings-main {
  float: left;
  width: 75%;
  padding-right: 20px;
  padding-top: 1em;
  box-sizing: border-box;
}
.dedo_download_page_dedo_settings #dedo-settings-sidebar {
  float: left;
  width: 25%;
  border-left: 1px solid #ccc;
  padding-top: 1em;
  padding-left: 20px;
  box-sizing: border-box;
}
.dedo-settings-textarea {
  width: 50%;
  height: 200px;
}
/* Support Page */
#dedo_support {
  width: 100%;
  height: 500px;
  resize: vertical;
}
/* Statistics Page
--------------------------------------------- */
#dedo-stats-export .left,
#dedo-stats-export .right {
  float: left;
  width: 50%;
  margin-top: 0;
  box-sizing: border-box;
}
#dedo-stats-export .left label,
#dedo-stats-export .right label {
  display: block;
  font-weight: bold;
  color: #000;
}
#dedo-stats-export .left input,
#dedo-stats-export .right input {
  width: 100%;
}
#dedo-stats-export .left {
  padding-right: 8px;
}
#dedo-stats-export .right {
  padding-left: 8px;
}
/* Admin Modal Windows
--------------------------------------------- */
.dedo-modal {
  position: fixed;
  top: 60px;
  padding: 0 16px;
  background: #fff;
  z-index: 16000;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.dedo-modal .dedo-modal-close {
  position: absolute;
  text-decoration: none;
  top: 12px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 1000;
}
.dedo-modal .dedo-modal-close span.media-modal-icon {
  display: block;
  margin: 8px auto 0;
  width: 15px;
  height: 15px;
  background-image: none;
}
.dedo-modal .dedo-modal-close span.media-modal-icon:before {
  content: '\f158';
  font: normal 20px/1 'dashicons';
  speak: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}
.dedo-modal .dedo-modal-close:hover span.media-modal-icon:before {
  color: #0099d5;
}
.dedo-modal h1 {
  margin: 0 -16px;
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
  background: #fcfcfc;
  font-size: 22px;
  line-height: 60px;
}
#dedo-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .7;
  z-index: 15999;
}
/* Add/Edit Download Screen
--------------------------------------------- */
.post-type-dedo_download #titlediv {
  margin-bottom: 20px;
}
.post-type-dedo_download #post-visibility-select p {
  margin-top: 0;
}
.post-type-dedo_download #visibility-radio-private,
.post-type-dedo_download label[for="visibility-radio-private"] {
  display: none;
}
/* Admin Add Download */
#dedo-new-download {
  padding: 60px 0;
  text-align: center;
}
#dedo-new-download .button {
  display: inline-block;
  width: 180px;
  margin: 10px 5px;
  height: auto;
  padding: 16px 0;
  font-size: 16px;
}
/* Existing Download */
#dedo-existing-download {
  margin: -6px -12px -12px;
  overflow: hidden;
}
#dedo-existing-download .left-panel,
#dedo-existing-download .right-panel {
  float: left;
  box-sizing: border-box;
  padding: 30px 20px;
}
#dedo-existing-download .left-panel {
  width: 33%;
  margin-right: -1px;
  border-right: 1px solid #ddd;
  text-align: center;
}
#dedo-existing-download .right-panel {
  width: 67%;
  border-left: 1px solid #ddd;
}
#dedo-existing-download .footer {
  padding: 10px 12px;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
  line-height: 28px;
  clear: both;
}
#dedo-existing-download .footer .button {
  margin-left: 5px;
}
#dedo-existing-download .footer .delete {
  float: right;
  text-decoration: none;
  color: #a00;
}
#dedo-existing-download .footer .delete:hover {
  color: #f00;
}
#dedo-existing-download .file-icon {
  width: 128px;
  height: 128px;
  margin: 0 auto 1.4em;
}
#dedo-existing-download .file-icon img {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0;
}
#dedo-existing-download .file-name {
  position: relative;
  font-weight: bold;
}
#dedo-existing-download .file-size {
  margin-bottom: 1.4em;
  color: #666;
}
#dedo-existing-download .file-status .status {
  display: inline-block;
  float: none;
}
#dedo-existing-download .file-status .status:before {
  font: normal 20px 'dashicons';
  speak: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#dedo-existing-download .file-status .status.local:before {
  content: '\f147';
  font-size: 22px;
  color: #0a0;
}
#dedo-existing-download .file-status .status.remote:before {
  content: '\f103';
  font-size: 16px;
  color: #0a0;
}
#dedo-existing-download .file-status .status.warning:before {
  content: '\f348';
  font-size: 18px;
  color: #ffba00;
}
#dedo-existing-download .form-table {
  margin: -20px 0;
}
#dedo-existing-download .form-table th {
  width: auto;
  padding-right: 30px;
  white-space: nowrap;
}
#dedo-existing-download .form-table td {
  width: 100%;
  padding-right: 0;
}
#dedo-existing-download .form-table .regular-text {
  width: 100px;
}
#dedo-existing-download .form-table label {
  margin-right: 12px;
}
#dedo-existing-download .dedo-sub-option {
  margin-top: 30px;
}
/* Upload Modal */
#dedo-upload-modal #dedo-drag-drop-area {
  margin-top: 1em;
  padding: 40px;
  border: 4px dashed #bbb;
}
#dedo-upload-modal #dedo-drag-drop-area p {
  margin: 5px 0;
  font-size: 14px;
  text-align: center;
  color: #aaa;
}
#dedo-upload-modal #dedo-drag-drop-area .drag-drop-info {
  font-size: 20px;
}
/* Progress Bar */
#dedo-progress-bar {
  position: relative;
  margin: 13px 0;
  width: 100%;
  height: 60px;
  background: #fcfcfc;
  border: 1px solid #000;
}
#dedo-progress-bar #dedo-progress-percent {
  background: #000;
  height: 60px;
  opacity: .5;
}
#dedo-progress-bar #dedo-progress-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}
#dedo-progress-error {
  color: red;
  font-style: italic;
}
/* Existing Modal */
#dedo-select-modal #dedo-file-url {
  padding: 5px 5px 6px;
}
#dedo-select-modal #dedo-file-browser {
  box-sizing: border-box;
  width: 99%;
  max-height: 200px;
  margin: 1px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fcfcfc;
  overflow: auto;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
}
/* Theme Colors
--------------------------------------------- */
/* Fresh (Default) */
.admin-color-fresh #ddownload-count .count {
  color: #04a4cc;
}
.admin-color-fresh #dedo-progress-bar {
  border-color: #04a4cc;
}
.admin-color-fresh #dedo-progress-bar #dedo-progress-percent {
  background: #04a4cc;
}
/* Light */
.admin-color-light #ddownload-count .count {
  color: #04a4cc;
}
.admin-color-light #dedo-progress-bar {
  border-color: #04a4cc;
}
.admin-color-light #dedo-progress-bar #dedo-progress-percent {
  background: #04a4cc;
}
/* Blue */
.admin-color-blue .dedo-download-list tr.ui-selected {
  background-color: rgba(219, 152, 37, 0.2);
}
.admin-color-blue #ddownload-count .count {
  color: #52accc;
}
.admin-color-blue #dedo-progress-bar {
  border-color: #52accc;
}
.admin-color-blue #dedo-progress-bar #dedo-progress-percent {
  background: #52accc;
}
/* Coffee */
.admin-color-coffee .dedo-download-list tr.ui-selected {
  background-color: rgba(199, 165, 137, 0.2);
}
.admin-color-coffee #ddownload-count .count {
  color: #c7a589;
}
.admin-color-coffee #dedo-progress-bar {
  border-color: #c7a589;
}
.admin-color-coffee #dedo-progress-bar #dedo-progress-percent {
  background: #c7a589;
}
/* Ectoplasm */
.admin-color-ectoplasm .dedo-download-list tr.ui-selected {
  background-color: rgba(137, 153, 58, 0.2);
}
.admin-color-ectoplasm #ddownload-count .count {
  color: #a3b745;
}
.admin-color-ectoplasm #dedo-progress-bar {
  border-color: #a3b745;
}
.admin-color-ectoplasm #dedo-progress-bar #dedo-progress-percent {
  background: #a3b745;
}
/* Midnight */
.admin-color-midnight .dedo-download-list tr.ui-selected {
  background-color: rgba(217, 44, 35, 0.2);
}
.admin-color-midnight #ddownload-count .count {
  color: #e14d43;
}
.admin-color-midnight #dedo-progress-bar {
  border-color: #e14d43;
}
.admin-color-midnight #dedo-progress-bar #dedo-progress-percent {
  background: #e14d43;
}
/* Ocean */
.admin-color-ocean .dedo-download-list tr.ui-selected {
  background-color: rgba(158, 186, 160, 0.2);
}
.admin-color-ocean #ddownload-count .count {
  color: #9ebaa0;
}
.admin-color-ocean #dedo-progress-bar {
  border-color: #9ebaa0;
}
.admin-color-ocean #dedo-progress-bar #dedo-progress-percent {
  background: #9ebaa0;
}
/* Sunrise */
.admin-color-sunrise .dedo-download-list tr.ui-selected {
  background-color: rgba(221, 130, 59, 0.2);
}
.admin-color-sunrise #ddownload-count .count {
  color: #dd823b;
}
.admin-color-sunrise #dedo-progress-bar {
  border-color: #dd823b;
}
.admin-color-sunrise #dedo-progress-bar #dedo-progress-percent {
  background: #dd823b;
}
