/* Shortcode Modal Window */
/* line 2, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal {
  z-index: 100000;
}
/* line 6, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal .dedo-modal-content h1 {
  margin-bottom: 24px;
}
/* line 10, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal .dedo-modal-content p {
  font-size: 13px;
  color: #333;
}
/* line 15, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal .dedo-modal-content p.clear:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal .dedo-modal-content label.column-2 {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 50%;
}
/* line 28, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal .dedo-modal-content label.column-2:nth-child(1) {
  padding-right: 10px;
}
/* line 32, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal .dedo-modal-content label.column-2:nth-child(2) {
  padding-left: 10px;
}
/* line 36, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal .dedo-modal-content label span {
  line-height: 24px;
}
/* line 40, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal .dedo-modal-content input {
  display: block;
  width: 100%;
  border: 1px solid #aaa;
}
/* line 46, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal .dedo-modal-content .buttons {
  margin: 24px -16px 0;
  padding: 12px 16px;
  border-top: 1px solid #ddd;
  background: #fcfcfc;
}
/* line 52, ../sass/delightful-downloads-admin.scss */
#dedo-shortcode-modal .dedo-modal-content .buttons a {
  margin-right: 5px;
}

/* All Downloads
--------------------------------------------- */
/* line 64, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .view-switch {
  display: none;
}
/* line 69, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .inline-edit-col-left, .post-type-dedo_download .inline-edit-col-right {
  float: none !important;
  width: 50% !important;
  margin-top: 0 !important;
}
/* line 74, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .inline-edit-col-left .inline-edit-col, .post-type-dedo_download .inline-edit-col-right .inline-edit-col {
  border: none !important;
}
/* line 79, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .inline-edit-save a.save {
  float: none !important;
  margin-left: 1em;
}
/* line 87, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .inline-edit-group em, .post-type-dedo_download .inline-edit-group .inline-edit-private {
  display: none;
}
/* line 92, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .blank {
  color: #ccc;
  cursor: default;
}
/* line 98, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download th.column-downloads {
  padding-right: 20px;
}
/* line 101, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download th.column-downloads a {
  display: inline;
}
/* line 104, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download th.column-downloads a span {
  float: right;
}
/* line 108, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download th.column-downloads a span.sorting-indicator {
  margin-right: 5px;
}
/* line 114, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .column-downloads {
  text-align: right;
  padding-right: 20px;
}
/* line 120, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .column-members_only, .post-type-dedo_download .column-open_browser {
  width: 30px;
  text-align: center;
}
/* line 124, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .column-members_only .icon, .post-type-dedo_download .column-open_browser .icon {
  display: inline-block;
  float: none;
  width: 1em;
  height: 1em;
  margin-top: -4px;
  vertical-align: middle;
  overflow: hidden;
}
/* line 133, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .column-members_only .icon:before, .post-type-dedo_download .column-open_browser .icon:before {
  content: '\f110';
  font: normal 1em 'dashicons';
  speak: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 144, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .column-open_browser .icon:before {
  content: '\f472';
}
/* line 148, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download td.column-members_only, .post-type-dedo_download td.column-open_browser {
  color: #ccc;
}
/* line 152, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .column-members_only .true, .post-type-dedo_download .column-members_only .false,
.post-type-dedo_download .column-open_browser .true, .post-type-dedo_download .column-open_browser .false {
  display: inline-block;
  float: none;
  color: #555;
}
/* line 158, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .column-members_only .true:before, .post-type-dedo_download .column-members_only .false:before,
.post-type-dedo_download .column-open_browser .true:before, .post-type-dedo_download .column-open_browser .false:before {
  content: '\f147';
  font: normal 1.2em 'dashicons';
  speak: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 169, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download .column-members_only .false:before, .post-type-dedo_download .column-open_browser .false:before {
  content: '\f335';
}

/* Taxonomy pages */
/* line 176, ../sass/delightful-downloads-admin.scss */
.taxonomy-ddownload_category .row-actions .view, .taxonomy-ddownload_tag .row-actions .view {
  display: none;
}

/* Media Button */
/* line 181, ../sass/delightful-downloads-admin.scss */
#dedo-media-button span.wp-media-buttons-icon:before {
  content: "\f316" !important;
  font: normal 18px/1 'dashicons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dashboard
--------------------------------------------- */
/* line 191, ../sass/delightful-downloads-admin.scss */
#ddownload-count {
  margin: -11px 0 0;
}
/* line 194, ../sass/delightful-downloads-admin.scss */
#ddownload-count ul {
  margin: 0;
  overflow: hidden;
}
/* line 198, ../sass/delightful-downloads-admin.scss */
#ddownload-count ul li {
  display: block;
  margin: 0;
  padding: 20px 0;
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}
/* line 208, ../sass/delightful-downloads-admin.scss */
#ddownload-count ul li .count {
  display: block;
  font-size: 32px;
  font-weight: lighter;
  line-height: 1.5;
  color: #2ea2cc;
}
/* line 216, ../sass/delightful-downloads-admin.scss */
#ddownload-count ul li .label {
  display: block;
  color: #ccc;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 224, ../sass/delightful-downloads-admin.scss */
#ddownload-count ul li:nth-of-type(odd) {
  border-right: 1px dotted #eee;
}
/* line 228, ../sass/delightful-downloads-admin.scss */
#ddownload-count ul li:nth-of-type(-n+2) {
  padding-top: 40px;
}
/* line 232, ../sass/delightful-downloads-admin.scss */
#ddownload-count ul li:nth-of-type(n+3) {
  padding-bottom: 40px;
}

/* line 238, ../sass/delightful-downloads-admin.scss */
#ddownload-popular {
  margin: 0;
}
/* line 241, ../sass/delightful-downloads-admin.scss */
#ddownload-popular h4 {
  position: relative;
  margin: 0 -12px !important;
  padding: 8px 12px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/* line 249, ../sass/delightful-downloads-admin.scss */
#ddownload-popular ol {
  margin: 0 -12px;
  list-style: none;
}
/* line 253, ../sass/delightful-downloads-admin.scss */
#ddownload-popular ol li {
  margin: 0;
  color: #777;
}
/* line 257, ../sass/delightful-downloads-admin.scss */
#ddownload-popular ol li a {
  display: block;
  padding: 8px 12px;
}
/* line 262, ../sass/delightful-downloads-admin.scss */
#ddownload-popular ol li .position {
  display: inline-block;
  margin-right: 1em;
  color: #777;
}
/* line 268, ../sass/delightful-downloads-admin.scss */
#ddownload-popular ol li .count, #ddownload-popular ol li .percentage {
  float: right;
}
/* line 272, ../sass/delightful-downloads-admin.scss */
#ddownload-popular ol li:hover {
  background: #f2f2f2;
}
/* line 277, ../sass/delightful-downloads-admin.scss */
#ddownload-popular ol li:nth-child(odd) {
  background: #fafafa;
}
/* line 280, ../sass/delightful-downloads-admin.scss */
#ddownload-popular ol li:nth-child(odd):hover {
  background: #f7f7f7;
}
/* line 286, ../sass/delightful-downloads-admin.scss */
#ddownload-popular .sub {
  margin: 0 -12px;
  padding: 11px 12px 0;
  border-top: 1px solid #eee;
  overflow: hidden;
}
/* line 292, ../sass/delightful-downloads-admin.scss */
#ddownload-popular .sub #popular-downloads-dropdown, #ddownload-popular .sub .spinner {
  float: right;
}
/* line 296, ../sass/delightful-downloads-admin.scss */
#ddownload-popular .sub .error {
  margin: 0;
  line-height: 28px;
  color: #dd3d36;
}

/* Settings Page
--------------------------------------------- */
/* line 308, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings .nav-tab-wrapper {
  margin-bottom: 0;
}
/* line 311, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings .nav-tab-wrapper .nav-tab:focus {
  box-shadow: none;
}
/* line 316, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings .dedo-sub-option {
  margin-top: 30px;
}
/* line 320, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings label {
  margin-right: 12px;
}
/* line 324, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings .description {
  max-width: 600px;
}

/* line 329, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings #dedo-settings-main {
  float: left;
  width: 75%;
  padding-right: 20px;
  padding-top: 1em;
  box-sizing: border-box;
}

/* line 337, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings #dedo-settings-sidebar {
  float: left;
  width: 25%;
  border-left: 1px solid #ccc;
  padding-top: 1em;
  padding-left: 20px;
  box-sizing: border-box;
}
/* line 345, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings #dedo-settings-sidebar .pro-version {
  margin: -1em 0 0 -20px;
  padding: 1.33em 20px;
  background: #32373c;
  color: #b4b9be;
}
/* line 351, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings #dedo-settings-sidebar .pro-version h4 {
  margin: 0 0 1.33em;
  color: #fff;
}
/* line 356, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings #dedo-settings-sidebar .pro-version ul {
  margin-left: 20px;
  list-style: disc;
}
/* line 361, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings #dedo-settings-sidebar .pro-version label {
  display: block;
  margin-bottom: 6px;
}
/* line 366, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings #dedo-settings-sidebar .pro-version input, .dedo_download_page_dedo_settings #dedo-settings-sidebar .pro-version button {
  display: block;
  width: 100%;
  margin-bottom: 13px;
}
/* line 372, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings #dedo-settings-sidebar .pro-version a {
  color: #5fbc3a;
}
/* line 375, ../sass/delightful-downloads-admin.scss */
.dedo_download_page_dedo_settings #dedo-settings-sidebar .pro-version a:hover {
  color: #81d742;
}

/* line 382, ../sass/delightful-downloads-admin.scss */
.dedo-settings-textarea {
  width: 50%;
  height: 200px;
}

/* Support Page */
/* line 388, ../sass/delightful-downloads-admin.scss */
#dedo_support {
  width: 100%;
  height: 500px;
  resize: vertical;
}

/* Statistics Page
--------------------------------------------- */
/* line 400, ../sass/delightful-downloads-admin.scss */
#dedo-stats-export .left, #dedo-stats-export .right {
  float: left;
  width: 50%;
  margin-top: 0;
  box-sizing: border-box;
}
/* line 406, ../sass/delightful-downloads-admin.scss */
#dedo-stats-export .left label, #dedo-stats-export .right label {
  display: block;
  font-weight: bold;
  color: #000;
}
/* line 412, ../sass/delightful-downloads-admin.scss */
#dedo-stats-export .left input, #dedo-stats-export .right input {
  width: 100%;
}
/* line 417, ../sass/delightful-downloads-admin.scss */
#dedo-stats-export .left {
  padding-right: 8px;
}
/* line 421, ../sass/delightful-downloads-admin.scss */
#dedo-stats-export .right {
  padding-left: 8px;
}

/* Admin Modal Windows
--------------------------------------------- */
/* line 428, ../sass/delightful-downloads-admin.scss */
.dedo-modal {
  position: fixed;
  top: 60px;
  padding: 0 16px;
  background: #fff;
  z-index: 16000;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
/* line 439, ../sass/delightful-downloads-admin.scss */
.dedo-modal .dedo-modal-close {
  position: absolute;
  text-decoration: none;
  top: 12px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 1000;
}
/* line 448, ../sass/delightful-downloads-admin.scss */
.dedo-modal .dedo-modal-close span.media-modal-icon {
  display: block;
  margin: 8px auto 0;
  width: 15px;
  height: 15px;
  background-image: none;
}
/* line 456, ../sass/delightful-downloads-admin.scss */
.dedo-modal .dedo-modal-close span.media-modal-icon:before {
  content: '\f158';
  font: normal 20px/1 'dashicons';
  speak: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}
/* line 467, ../sass/delightful-downloads-admin.scss */
.dedo-modal .dedo-modal-close:hover span.media-modal-icon:before {
  color: #0099d5;
}
/* line 471, ../sass/delightful-downloads-admin.scss */
.dedo-modal h1 {
  margin: 0 -16px;
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
  background: #fcfcfc;
  font-size: 22px;
  line-height: 60px;
}

/* line 481, ../sass/delightful-downloads-admin.scss */
#dedo-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .7;
  z-index: 15999;
}

/* Add/Edit Download Screen
--------------------------------------------- */
/* line 498, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download #titlediv {
  margin-bottom: 20px;
}
/* line 502, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download #post-visibility-select p {
  margin-top: 0;
}
/* line 507, ../sass/delightful-downloads-admin.scss */
.post-type-dedo_download #visibility-radio-private, .post-type-dedo_download label[for="visibility-radio-private"] {
  display: none;
}

/* Admin Add Download */
/* line 513, ../sass/delightful-downloads-admin.scss */
#dedo-new-download {
  padding: 60px 0;
  text-align: center;
}
/* line 517, ../sass/delightful-downloads-admin.scss */
#dedo-new-download .button {
  display: inline-block;
  width: 180px;
  margin: 10px 5px;
  height: auto;
  padding: 16px 0;
  font-size: 16px;
}

/* Existing Download */
/* line 528, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download {
  margin: -6px -12px -12px;
  overflow: hidden;
}
/* line 532, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .left-panel, #dedo-existing-download .right-panel {
  float: left;
  box-sizing: border-box;
  padding: 30px 20px;
}
/* line 538, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .left-panel {
  width: 33%;
  margin-right: -1px;
  border-right: 1px solid #ddd;
  text-align: center;
}
/* line 545, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .right-panel {
  width: 67%;
  border-left: 1px solid #ddd;
}
/* line 550, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .footer {
  padding: 10px 12px;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
  line-height: 28px;
  clear: both;
}
/* line 557, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .footer .button {
  margin-left: 5px;
}
/* line 561, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .footer .delete {
  float: right;
  text-decoration: none;
  color: #a00;
}
/* line 566, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .footer .delete:hover {
  color: #f00;
}
/* line 572, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .file-icon {
  width: 128px;
  height: 128px;
  margin: 0 auto 1.4em;
}
/* line 577, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .file-icon img {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0;
}
/* line 585, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .file-name {
  position: relative;
  font-weight: bold;
}
/* line 590, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .file-size {
  margin-bottom: 1.4em;
  color: #666;
}
/* line 597, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .file-status .status {
  display: inline-block;
  float: none;
}
/* line 602, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .file-status .status:before {
  font: normal 20px 'dashicons';
  speak: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 610, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .file-status .status.local:before {
  content: '\f147';
  font-size: 22px;
  color: #0a0;
}
/* line 616, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .file-status .status.remote:before {
  content: '\f103';
  font-size: 16px;
  color: #0a0;
}
/* line 622, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .file-status .status.warning:before {
  content: '\f348';
  font-size: 18px;
  color: #ffba00;
}
/* line 629, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .form-table {
  margin: -20px 0;
}
/* line 632, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .form-table th {
  width: auto;
  padding-right: 30px;
  white-space: nowrap;
}
/* line 638, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .form-table td {
  width: 100%;
  padding-right: 0;
}
/* line 643, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .form-table .regular-text {
  width: 100px;
}
/* line 647, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .form-table label {
  margin-right: 12px;
}
/* line 652, ../sass/delightful-downloads-admin.scss */
#dedo-existing-download .dedo-sub-option {
  margin-top: 30px;
}

/* Upload Modal */
/* line 659, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal {
  /* Progress Bar */
}
/* line 661, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal #dedo-drag-drop-area-container {
  position: relative;
  display: table;
  width: 100%;
  margin-top: 1em;
}
/* line 668, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal #dedo-drag-drop-area {
  display: table-cell;
  height: 200px;
  border: 4px dashed #bbb;
  vertical-align: middle;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
/* line 679, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal #dedo-drag-drop-area p {
  margin: 5px 0;
  font-size: 14px;
  text-align: center;
  color: #aaa;
}
/* line 686, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal #dedo-drag-drop-area .drag-drop-info {
  font-size: 20px;
}
/* line 690, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal #dedo-drag-drop-area #dedo-progress-percent {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
}
/* line 700, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal #dedo-drag-drop-area #dedo-progress-text {
  display: none;
  width: 100%;
  font-size: 48px;
  line-height: 1;
  text-align: center;
}
/* line 710, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal #dedo-drag-drop-area.uploading {
  height: 100px;
  border: 4px solid #bbb;
}
/* line 714, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal #dedo-drag-drop-area.uploading p {
  display: none;
}
/* line 718, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal #dedo-drag-drop-area.uploading #dedo-progress-percent {
  display: block;
}
/* line 722, ../sass/delightful-downloads-admin.scss */
#dedo-upload-modal #dedo-drag-drop-area.uploading #dedo-progress-text {
  display: block;
}

/* line 728, ../sass/delightful-downloads-admin.scss */
#dedo-progress-error {
  color: red;
  font-style: italic;
}

/* Existing Modal */
/* line 736, ../sass/delightful-downloads-admin.scss */
#dedo-select-modal #dedo-file-url {
  padding: 5px 5px 6px;
}
/* line 740, ../sass/delightful-downloads-admin.scss */
#dedo-select-modal #dedo-file-browser {
  box-sizing: border-box;
  width: 99%;
  max-height: 200px;
  margin: 1px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fcfcfc;
  overflow: auto;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
}

/* Add-ons
--------------------------------------------- */
/* line 759, ../sass/delightful-downloads-admin.scss */
.dedo-addons-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1368px;
  margin: 20px -20px -20px 0;
}
/* line 765, ../sass/delightful-downloads-admin.scss */
.dedo-addons-container .item {
  position: relative;
  box-sizing: border-box;
  padding: 15px 15px 60px;
  margin: 0 20px 20px 0;
  width: 320px;
  background: #fff;
  border: 1px solid #ddd;
}
/* line 774, ../sass/delightful-downloads-admin.scss */
.dedo-addons-container .item .action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
}
/* line 785, ../sass/delightful-downloads-admin.scss */
.dedo-addons-container a {
  text-decoration: none;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}
/* line 793, ../sass/delightful-downloads-admin.scss */
.dedo-addons-container a:hover {
  opacity: .8;
}
/* line 797, ../sass/delightful-downloads-admin.scss */
.dedo-addons-container img {
  margin: -16px -16px 0;
  width: 320px;
  height: auto;
}
/* line 803, ../sass/delightful-downloads-admin.scss */
.dedo-addons-container h3 {
  font-size: 14px;
}

/* line 809, ../sass/delightful-downloads-admin.scss */
input.copy-to-clipboard {
  width: 100%;
  max-width: 300px;
  margin: 0;
  padding: 6px 10px;
  border: none;
  box-shadow: none;
  font-family: "Courier New", Courier, mono;
  font-size: 1em;
  cursor: pointer;
}

/* line 821, ../sass/delightful-downloads-admin.scss */
input.copy-to-clipboard + .description {
  margin-top: 5px;
}

/* Theme Colors
--------------------------------------------- */
/* Fresh (Default) */
/* line 831, ../sass/delightful-downloads-admin.scss */
.admin-color-fresh #ddownload-count .count,
.admin-color-fresh #dedo-upload-modal #dedo-drag-drop-area #dedo-progress-text {
  color: #04a4cc;
}
/* line 836, ../sass/delightful-downloads-admin.scss */
.admin-color-fresh #dedo-upload-modal #dedo-drag-drop-area.uploading {
  border-color: #04a4cc;
}
/* line 839, ../sass/delightful-downloads-admin.scss */
.admin-color-fresh #dedo-upload-modal #dedo-drag-drop-area.uploading #dedo-progress-percent {
  background: #04a4cc;
}

/* Light */
/* line 848, ../sass/delightful-downloads-admin.scss */
.admin-color-light #ddownload-count .count,
.admin-color-light #dedo-upload-modal #dedo-drag-drop-area #dedo-progress-text {
  color: #04a4cc;
}
/* line 853, ../sass/delightful-downloads-admin.scss */
.admin-color-light #dedo-upload-modal #dedo-drag-drop-area.uploading {
  border-color: #04a4cc;
}
/* line 856, ../sass/delightful-downloads-admin.scss */
.admin-color-light #dedo-upload-modal #dedo-drag-drop-area.uploading #dedo-progress-percent {
  background: #04a4cc;
}

/* Blue */
/* line 865, ../sass/delightful-downloads-admin.scss */
.admin-color-blue #ddownload-count .count,
.admin-color-blue #dedo-upload-modal #dedo-drag-drop-area #dedo-progress-text {
  color: #52accc;
}
/* line 870, ../sass/delightful-downloads-admin.scss */
.admin-color-blue #dedo-upload-modal #dedo-drag-drop-area.uploading {
  border-color: #52accc;
}
/* line 873, ../sass/delightful-downloads-admin.scss */
.admin-color-blue #dedo-upload-modal #dedo-drag-drop-area.uploading #dedo-progress-percent {
  background: #52accc;
}

/* Coffee */
/* line 882, ../sass/delightful-downloads-admin.scss */
.admin-color-coffee #ddownload-count .count,
.admin-color-coffee #dedo-upload-modal #dedo-drag-drop-area #dedo-progress-text {
  color: #c7a589;
}
/* line 887, ../sass/delightful-downloads-admin.scss */
.admin-color-coffee #dedo-upload-modal #dedo-drag-drop-area.uploading {
  border-color: #c7a589;
}
/* line 890, ../sass/delightful-downloads-admin.scss */
.admin-color-coffee #dedo-upload-modal #dedo-drag-drop-area.uploading #dedo-progress-percent {
  background: #c7a589;
}

/* Ectoplasm */
/* line 899, ../sass/delightful-downloads-admin.scss */
.admin-color-ectoplasm #ddownload-count .count,
.admin-color-ectoplasm #dedo-upload-modal #dedo-drag-drop-area #dedo-progress-text {
  color: #a3b745;
}
/* line 904, ../sass/delightful-downloads-admin.scss */
.admin-color-ectoplasm #dedo-upload-modal #dedo-drag-drop-area.uploading {
  border-color: #a3b745;
}
/* line 907, ../sass/delightful-downloads-admin.scss */
.admin-color-ectoplasm #dedo-upload-modal #dedo-drag-drop-area.uploading #dedo-progress-percent {
  background: #a3b745;
}

/* Midnight */
/* line 916, ../sass/delightful-downloads-admin.scss */
.admin-color-midnight #ddownload-count .count,
.admin-color-midnight #dedo-upload-modal #dedo-drag-drop-area #dedo-progress-text {
  color: #e14d43;
}
/* line 921, ../sass/delightful-downloads-admin.scss */
.admin-color-midnight #dedo-upload-modal #dedo-drag-drop-area.uploading {
  border-color: #e14d43;
}
/* line 924, ../sass/delightful-downloads-admin.scss */
.admin-color-midnight #dedo-upload-modal #dedo-drag-drop-area.uploading #dedo-progress-percent {
  background: #e14d43;
}

/* Ocean */
/* line 933, ../sass/delightful-downloads-admin.scss */
.admin-color-ocean #ddownload-count .count,
.admin-color-ocean #dedo-upload-modal #dedo-drag-drop-area #dedo-progress-text {
  color: #9ebaa0;
}
/* line 938, ../sass/delightful-downloads-admin.scss */
.admin-color-ocean #dedo-upload-modal #dedo-drag-drop-area.uploading {
  border-color: #9ebaa0;
}
/* line 941, ../sass/delightful-downloads-admin.scss */
.admin-color-ocean #dedo-upload-modal #dedo-drag-drop-area.uploading #dedo-progress-percent {
  background: #9ebaa0;
}

/* Sunrise */
/* line 950, ../sass/delightful-downloads-admin.scss */
.admin-color-sunrise #ddownload-count .count,
.admin-color-sunrise #dedo-upload-modal #dedo-drag-drop-area #dedo-progress-text {
  color: #dd823b;
}
/* line 955, ../sass/delightful-downloads-admin.scss */
.admin-color-sunrise #dedo-upload-modal #dedo-drag-drop-area.uploading {
  border-color: #dd823b;
}
/* line 958, ../sass/delightful-downloads-admin.scss */
.admin-color-sunrise #dedo-upload-modal #dedo-drag-drop-area.uploading #dedo-progress-percent {
  background: #dd823b;
}
