.ftyp {
  background: url('filetypes.png') no-repeat top left;
  width: 42px;
  height: 59px;
  display:inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  box-sizing: content-box;
}
.ftyp-_blank {
  background-position: 0 0;
}
.ftyp-3gp {
  background-position: 0 -59px;
}
.ftyp-7z {
  background-position: 0 -118px;
}
.ftyp-aac {
  background-position: 0 -177px;
}
.ftyp-accdb {
  background-position: 0 -236px;
}
.ftyp-accdt {
  background-position: 0 -295px;
}
.ftyp-ai {
  background-position: 0 -354px;
}
.ftyp-aif {
  background-position: 0 -413px;
}
.ftyp-aiff {
  background-position: 0 -472px;
}
.ftyp-apk {
  background-position: 0 -531px;
}
.ftyp-app {
  background-position: 0 -590px;
}
.ftyp-asc {
  background-position: 0 -649px;
}
.ftyp-asp {
  background-position: 0 -708px;
}
.ftyp-aspx {
  background-position: 0 -767px;
}
.ftyp-au {
  background-position: 0 -826px;
}
.ftyp-avi {
  background-position: 0 -885px;
}
.ftyp-bak {
  background-position: 0 -944px;
}
.ftyp-bash {
  background-position: 0 -1003px;
}
.ftyp-bat {
  background-position: 0 -1062px;
}
.ftyp-bin {
  background-position: 0 -1121px;
}
.ftyp-bz2 {
  background-position: 0 -1180px;
}
.ftyp-cab {
  background-position: 0 -1239px;
}
.ftyp-com {
  background-position: 0 -1298px;
}
.ftyp-conf {
  background-position: 0 -1357px;
}
.ftyp-config {
  background-position: 0 -1416px;
}
.ftyp-cpp {
  background-position: 0 -1475px;
}
.ftyp-css {
  background-position: 0 -1534px;
}
.ftyp-csv {
  background-position: 0 -1593px;
}
.ftyp-db {
  background-position: 0 -1652px;
}
.ftyp-dbf {
  background-position: 0 -1711px;
}
.ftyp-dmg {
  background-position: 0 -1770px;
}
.ftyp-doc {
  background-position: 0 -1829px;
}
.ftyp-docb {
  background-position: 0 -1888px;
}
.ftyp-docm {
  background-position: 0 -1947px;
}
.ftyp-docx {
  background-position: 0 -2006px;
}
.ftyp-dot {
  background-position: 0 -2065px;
}
.ftyp-dotm {
  background-position: 0 -2124px;
}
.ftyp-dotx {
  background-position: 0 -2183px;
}
.ftyp-dwg {
  background-position: 0 -2242px;
}
.ftyp-dxf {
  background-position: 0 -2301px;
}
.ftyp-eml {
  background-position: 0 -2360px;
}
.ftyp-eps {
  background-position: 0 -2419px;
}
.ftyp-epub {
  background-position: 0 -2478px;
}
.ftyp-fax {
  background-position: 0 -2537px;
}
.ftyp-heic {
  background-position: 0 -2596px;
}
.ftyp-htm {
  background-position: 0 -2655px;
}
.ftyp-html {
  background-position: 0 -2714px;
}
.ftyp-ibooks {
  background-position: 0 -2773px;
}
.ftyp-icns {
  background-position: 0 -2832px;
}
.ftyp-ico {
  background-position: 0 -2891px;
}
.ftyp-ics {
  background-position: 0 -2950px;
}
.ftyp-ifo {
  background-position: 0 -3009px;
}
.ftyp-image {
  background-position: 0 -3068px;
}
.ftyp-img {
  background-position: 0 -3127px;
}
.ftyp-info {
  background-position: 0 -3186px;
}
.ftyp-iso {
  background-position: 0 -3245px;
}
.ftyp-jar {
  background-position: 0 -3304px;
}
.ftyp-java {
  background-position: 0 -3363px;
}
.ftyp-jpeg {
  background-position: 0 -3422px;
}
.ftyp-jpg {
  background-position: 0 -3481px;
}
.ftyp-js {
  background-position: 0 -3540px;
}
.ftyp-json {
  background-position: 0 -3599px;
}
.ftyp-lnk {
  background-position: 0 -3658px;
}
.ftyp-log {
  background-position: 0 -3717px;
}
.ftyp-m2v {
  background-position: 0 -3776px;
}
.ftyp-m3u {
  background-position: 0 -3835px;
}
.ftyp-m3u8 {
  background-position: 0 -3894px;
}
.ftyp-m4 {
  background-position: 0 -3953px;
}
.ftyp-m4a {
  background-position: 0 -4012px;
}
.ftyp-m4r {
  background-position: 0 -4071px;
}
.ftyp-m4v {
  background-position: 0 -4130px;
}
.ftyp-map {
  background-position: 0 -4189px;
}
.ftyp-md {
  background-position: 0 -4248px;
}
.ftyp-mdb {
  background-position: 0 -4307px;
}
.ftyp-mdf {
  background-position: 0 -4366px;
}
.ftyp-mid {
  background-position: 0 -4425px;
}
.ftyp-midi {
  background-position: 0 -4484px;
}
.ftyp-mkv {
  background-position: 0 -4543px;
}
.ftyp-mobi {
  background-position: 0 -4602px;
}
.ftyp-mp2 {
  background-position: 0 -4661px;
}
.ftyp-mp3 {
  background-position: 0 -4720px;
}
.ftyp-mp4 {
  background-position: 0 -4779px;
}
.ftyp-mpa {
  background-position: 0 -4838px;
}
.ftyp-mpd {
  background-position: 0 -4897px;
}
.ftyp-mpe {
  background-position: 0 -4956px;
}
.ftyp-mpeg {
  background-position: 0 -5015px;
}
.ftyp-mpg {
  background-position: 0 -5074px;
}
.ftyp-mpga {
  background-position: 0 -5133px;
}
.ftyp-msg {
  background-position: 0 -5192px;
}
.ftyp-nfo {
  background-position: 0 -5251px;
}
.ftyp-odb {
  background-position: 0 -5310px;
}
.ftyp-ods {
  background-position: 0 -5369px;
}
.ftyp-odt {
  background-position: 0 -5428px;
}
.ftyp-ogg {
  background-position: 0 -5487px;
}
.ftyp-ogv {
  background-position: 0 -5546px;
}
.ftyp-ost {
  background-position: 0 -5605px;
}
.ftyp-otf {
  background-position: 0 -5664px;
}
.ftyp-ott {
  background-position: 0 -5723px;
}
.ftyp-ova {
  background-position: 0 -5782px;
}
.ftyp-ovf {
  background-position: 0 -5841px;
}
.ftyp-p7b {
  background-position: 0 -5900px;
}
.ftyp-pdb {
  background-position: 0 -5959px;
}
.ftyp-pdf {
  background-position: 0 -6018px;
}
.ftyp-pfx {
  background-position: 0 -6077px;
}
.ftyp-ph {
  background-position: 0 -6136px;
}
.ftyp-php {
  background-position: 0 -6195px;
}
.ftyp-pkg {
  background-position: 0 -6254px;
}
.ftyp-pom {
  background-position: 0 -6313px;
}
.ftyp-pot {
  background-position: 0 -6372px;
}
.ftyp-potx {
  background-position: 0 -6431px;
}
.ftyp-pps {
  background-position: 0 -6490px;
}
.ftyp-ppsx {
  background-position: 0 -6549px;
}
.ftyp-ppt {
  background-position: 0 -6608px;
}
.ftyp-pptm {
  background-position: 0 -6667px;
}
.ftyp-pptx {
  background-position: 0 -6726px;
}
.ftyp-ps {
  background-position: 0 -6785px;
}
.ftyp-psd {
  background-position: 0 -6844px;
}
.ftyp-psp {
  background-position: 0 -6903px;
}
.ftyp-pst {
  background-position: 0 -6962px;
}
.ftyp-pub {
  background-position: 0 -7021px;
}
.ftyp-pubx {
  background-position: 0 -7080px;
}
.ftyp-py {
  background-position: 0 -7139px;
}
.ftyp-ram {
  background-position: 0 -7198px;
}
.ftyp-rar {
  background-position: 0 -7257px;
}
.ftyp-raw {
  background-position: 0 -7316px;
}
.ftyp-reg {
  background-position: 0 -7375px;
}
.ftyp-tar {
  background-position: 0 -7434px;
}
.ftyp-tga {
  background-position: 0 -7493px;
}
.ftyp-tgz {
  background-position: 0 -7552px;
}
.ftyp-tif {
  background-position: 0 -7611px;
}
.ftyp-tiff {
  background-position: 0 -7670px;
}
.ftyp-ttf {
  background-position: 0 -7729px;
}
.ftyp-vbproj {
  background-position: 0 -7788px;
}
.ftyp-vbs {
  background-position: 0 -7847px;
}
.ftyp-vcd {
  background-position: 0 -7906px;
}
.ftyp-vmdk {
  background-position: 0 -7965px;
}
.ftyp-vob {
  background-position: 0 -8024px;
}
.ftyp-vox {
  background-position: 0 -8083px;
}
.ftyp-vsd {
  background-position: 0 -8142px;
}
.ftyp-vsdx {
  background-position: 0 -8201px;
}
.ftyp-vss {
  background-position: 0 -8260px;
}
.ftyp-wav {
  background-position: 0 -8319px;
}
.ftyp-webm {
  background-position: 0 -8378px;
}
.ftyp-webp {
  background-position: 0 -8437px;
}
.ftyp-wma {
  background-position: 0 -8496px;
}
.ftyp-wmf {
  background-position: 0 -8555px;
}
.ftyp-wmv {
  background-position: 0 -8614px;
}
.ftyp-woff {
  background-position: 0 -8673px;
}
.ftyp-woff2 {
  background-position: 0 -8732px;
}
.ftyp-xlm {
  background-position: 0 -8791px;
}
.ftyp-xls {
  background-position: 0 -8850px;
}
.ftyp-xlsm {
  background-position: 0 -8909px;
}
.ftyp-xlsx {
  background-position: 0 -8968px;
}
.ftyp-xlt {
  background-position: 0 -9027px;
}
.ftyp-xltm {
  background-position: 0 -9086px;
}
.ftyp-xltx {
  background-position: 0 -9145px;
}
.ftyp-xml {
  background-position: 0 -9204px;
}
.ftyp-yaml {
  background-position: 0 -9263px;
}
.ftyp-yml {
  background-position: 0 -9322px;
}
.ftyp-z {
  background-position: 0 -9381px;
}
.ftyp-zip {
  background-position: 0 -9440px;
}