.ftyp {
background:#ccc;
border-radius:3px;
border-top-right-radius:20px;
color:#fff;
display:inline-block;
font-style:normal;
font-weight:700;
height:55px;
position:relative;
text-align:center;
text-transform:uppercase;
width:45px
}

.ftyp::before {
border-color:#00000000 #00000000 #ffffff88 #ffffff88;
border-style:solid;
border-width:6px;
content:"";
display:block;
height:0;
position:absolute;
right:0;
top:0;
width:0
}

.ftyp::after {
bottom:0;
content:"?";
display:block;
font-size:.85em;
left:0;
overflow:hidden;
padding:2px;
position:absolute;
white-space:nowrap;
width:100%
}

.ftyp:hover {
filter:brightness(0.8)
}

.ftyp-zip,.ftyp-rar,.ftyp-7z {
background:#f4b400
}

.ftyp-7z::after {
content:"7z"
}

.ftyp-zip:after {
content:"zip"
}

.ftyp-rar::after {
content:"rar"
}

.ftyp-exe {
background:#000000cc
}

.ftyp-exe::after {
content:"exe"
}

.ftyp-msi {
background:#000000dd
}

.ftyp-msi::after {
content:"msi"
}

.ftyp-pdf,.ftyp-xps {
background:#e13d34
}

.ftyp-pdf::after {
content:"pdf"
}

.ftyp-xps::after {
content:"xps"
}

.ftyp-doc,.ftyp-docx,.ftyp-docm,.ftyp-dotx,.ftyp-dotm,.ftyp-odt,.ftyp-ott {
background:#307cf1
}

.ftyp-doc::after {
content:"doc"
}

.ftyp-docx::after {
content:"docx"
}

.ftyp-docm::after {
content:"docm"
}

.ftyp-dotx::after {
content:"dotx"
}

.ftyp-dotm::after {
content:"dotm"
}

.ftyp-odt::after {
content:"odt"
}

.ftyp-ott::after {
content:"ott"
}

.ftyp-pub,.ftyp-pubx {
background:#0F9DAA
}

.ftyp-pub::after {
content:"pub"
}

.ftyp-pubx::after {
content:"pubx"
}

.ftyp-xls,.ftyp-xlsx,.ftyp-xlsm,.ftyp-xltx,.ftyp-xltm,.ftyp-ods,.ftyp-ots {
background:#0f9d58
}

.ftyp-xls::after {
content:"xls"
}

.ftyp-xlsx::after {
content:"xlsx"
}

.ftyp-xlsm::after {
content:"xlsm"
}

.ftyp-xltx::after {
content:"xltx"
}

.ftyp-xltm::after {
content:"xltm"
}

.ftyp-ods::after {
content:"ods"
}

.ftyp-ots::after {
content:"ots"
}

.ftyp-vsd,.ftyp-vsdx,.ftyp-vss,.ftyp-vssx {
background:#0000ffaa
}

.ftyp-vsd::after {
content:"vsd"
}

.ftyp-vsdx::after {
content:"vsdx"
}

.ftyp-vss::after {
content:"vss"
}

.ftyp-vssx::after {
content:"vssx"
}

.ftyp-ppt,.ftyp-pps,.ftyp-pptx,.ftyp-ppsx,.ftyp-pot,.ftyp-potm,.ftyp-pptm {
background:#FF6A00ee
}

.ftyp-ppt::after {
content:"ppt"
}

.ftyp-pps::after {
content:"pps"
}

.ftyp-pptx::after {
content:"pptx"
}

.ftyp-ppsx::after {
content:"ppsx"
}

.ftyp-potx::after {
content:"potx"
}

.ftyp-potm::after {
content:"potm"
}

.ftyp-pptm::after {
content:"pptm"
}

.ftyp-txt,.ftyp-css,.ftyp-php,.ftyp-asp,.ftyp-js,.ftyp-c {
background:#0000cc55
}

.ftyp-txt::after {
content:"txt"
}

.ftyp-css::after {
content:"css"
}

.ftyp-php::after {
content:"php"
}

.ftyp-asp::after {
content:"asp"
}

.ftyp-js::after {
content:"js"
}

.ftyp-c::after {
content:"c"
}

.ftyp-md::after {
content:"md"
}

.ftyp-xml::after {
content:"xml"
}

.ftyp-jpg,.ftyp-png,.ftyp-gif,.ftyp-heic,.ftyp-bmp {
background:#9e54bd
}

.ftyp-jpg::after {
content:"jpg"
}

.ftyp-png::after {
content:"png"
}

.ftyp-gif::after {
content:"gif"
}

.ftyp-heic::after {
content:"heic"
}

.ftyp-bmp::after {
content:"bmp"
}

.ftyp-mp3,.ftyp-wma,.ftyp-m4a {
background:#00880088
}

.ftyp-mp3::after {
content:"mp3"
}

.ftyp-wma::after {
content:"wma"
}

.ftyp-m4a::after {
content:"m4a"
}

.ftyp-mp4,.ftyp-avi,.ftyp-mkv,.ftyp-mov,.ftyp-wmv {
background:#7a3ce7
}

.ftyp-mp4::after {
content:"mp4"
}

.ftyp-avi::after {
content:"avi"
}

.ftyp-mkv::after {
content:"mkv"
}

.ftyp-mov::after {
content:"mov"
}

.ftyp-wmv::after {
content:"wmv"
}
